In [ ]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Reading package lists... Done

In [ ]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("CSV Import").getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
csv_path = "/content/drive/MyDrive/balanced 50"

In [ ]:
df = spark.read.csv(csv_path, header=True, inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- Diabetes_binary: double (nullable = true)
 |-- HighBP: double (nullable = true)
 |-- HighChol: double (nullable = true)
 |-- CholCheck: double (nullable = true)
 |-- BMI: double (nullable = true)
 |-- Smoker: double (nullable = true)
 |-- Stroke: double (nullable = true)
 |-- HeartDiseaseorAttack: double (nullable = true)
 |-- PhysActivity: double (nullable = true)
 |-- Fruits: double (nullable = true)
 |-- Veggies: double (nullable = true)
 |-- HvyAlcoholConsump: double (nullable = true)
 |-- AnyHealthcare: double (nullable = true)
 |-- NoDocbcCost: double (nullable = true)
 |-- GenHlth: double (nullable = true)
 |-- MentHlth: double (nullable = true)
 |-- PhysHlth: double (nullable = true)
 |-- DiffWalk: double (nullable = true)
 |-- Sex: double (nullable = true)
 |-- Age: double (nullable = true)
 |-- Education: double (nullable = true)
 |-- Income: double (nullable = true)

In [ ]:
df.createOrReplaceTempView("diabetes")

In [ ]:
columns = df.columns

In [ ]:
for column in columns:
    result = spark.sql(f"SELECT {column}, COUNT(*) AS count FROM diabetes GROUP BY {column}")
    result.show()

+---------------+-----+
|Diabetes_binary|count|
+---------------+-----+
|            0.0|35346|
|            1.0|35346|
+---------------+-----+

+------+-----+
|HighBP|count|
+------+-----+
|   0.0|30860|
|   1.0|39832|
+------+-----+

+--------+-----+
|HighChol|count|
+--------+-----+
|     0.0|33529|
|     1.0|37163|
+--------+-----+

+---------+-----+
|CholCheck|count|
+---------+-----+
|      0.0| 1749|
|      1.0|68943|
+---------+-----+

+----+-----+
| BMI|count|
+----+-----+
|67.0|    8|
|70.0|    5|
|69.0|    4|
|49.0|  195|
|98.0|    4|
|29.0| 4219|
|75.0|    9|
|64.0|    9|
|47.0|  272|
|42.0|  686|
|44.0|  456|
|35.0| 2107|
|62.0|   18|
|18.0|  366|
|86.0|    1|
|80.0|    1|
|39.0| 1189|
|37.0| 1607|
|34.0| 2564|
|25.0| 4031|
+----+-----+
only showing top 20 rows

+------+-----+
|Smoker|count|
+------+-----+
|   0.0|37094|
|   1.0|33598|
+------+-----+

+------+-----+
|Stroke|count|
+------+-----+
|   0.0|66297|
|   1.0| 4395|
+------+-----+

+--------------------+-----+
|HeartDiseaseorAttack|count|
+--------------------+-----+
|                 0.0|60243|
|                 1.0|10449|
+--------------------+-----+

+------------+-----+
|PhysActivity|count|
+------------+-----+
|         0.0|20993|
|         1.0|49699|
+------------+-----+

+------+-----+
|Fruits|count|
+------+-----+
|   0.0|27443|
|   1.0|43249|
+------+-----+

+-------+-----+
|Veggies|count|
+-------+-----+
|    0.0|14932|
|    1.0|55760|
+-------+-----+

+-----------------+-----+
|HvyAlcoholConsump|count|
+-----------------+-----+
|              0.0|67672|
|              1.0| 3020|
+-----------------+-----+

+-------------+-----+
|AnyHealthcare|count|
+-------------+-----+
|          0.0| 3184|
|          1.0|67508|
+-------------+-----+

+-----------+-----+
|NoDocbcCost|count|
+-----------+-----+
|        0.0|64053|
|        1.0| 6639|
+-----------+-----+

+-------+-----+
|GenHlth|count|
+-------+-----+
|    1.0| 8282|
|    4.0|13303|
|    3.0|23427|
|    2.0|19872|
|    5.0| 5808|
+-------+-----+

+--------+-----+
|MentHlth|count|
+--------+-----+
|     8.0|  198|
|     0.0|48091|
|     7.0|  825|
|    29.0|   53|
|    18.0|   42|
|     1.0| 2051|
|    25.0|  425|
|     4.0|  981|
|    23.0|   13|
|    11.0|    8|
|    21.0|   84|
|    14.0|  353|
|    22.0|   22|
|     3.0| 1967|
|    19.0|    7|
|    28.0|   99|
|     2.0| 3267|
|    17.0|   18|
|    27.0|   17|
|    10.0| 1924|
+--------+-----+
only showing top 20 rows

+--------+-----+
|PhysHlth|count|
+--------+-----+
|     8.0|  276|
|     0.0|39915|
|     7.0| 1326|
|    29.0|   95|
|    18.0|   50|
|     1.0| 2853|
|    25.0|  557|
|     4.0| 1376|
|    23.0|   27|
|    11.0|   22|
|    21.0|  229|
|    14.0|  802|
|    22.0|   31|
|     3.0| 2438|
|    19.0|   10|
|    28.0|  211|
|     2.0| 4102|
|    17.0|   35|
|    27.0|   34|
|    10.0| 1980|
+--------+-----+
only showing top 20 rows

+--------+-----+
|DiffWalk|count|
+--------+-----+
|     0.0|52826|
|     1.0|17866|
+--------+-----+

+---+-----+
|Sex|count|
+---+-----+
|0.0|38386|
|1.0|32306|
+---+-----+

+----+-----+
| Age|count|
+----+-----+
| 8.0| 8603|
| 7.0| 6872|
| 1.0|  979|
| 4.0| 2793|
|11.0| 8044|
| 3.0| 2049|
| 2.0| 1396|
|10.0|10856|
|13.0| 5426|
| 6.0| 4648|
| 5.0| 3520|
| 9.0|10112|
|12.0| 5394|
+----+-----+

+---------+-----+
|Education|count|
+---------+-----+
|      1.0|   75|
|      4.0|19473|
|      3.0| 3447|
|      2.0| 1647|
|      6.0|26020|
|      5.0|20030|
+---------+-----+

+------+-----+
|Income|count|
+------+-----+
|   8.0|20646|
|   7.0|11425|
|   1.0| 3611|
|   4.0| 6658|
|   3.0| 5557|
|   2.0| 4498|
|   6.0|10287|
|   5.0| 8010|
+------+-----+